<mat-form-field appearance="fill">
  <mat-label for="email">Wprowadź wiadomość...</mat-label>
  <textarea
    #input
    matInput
    title="Wprowadź wiadomość"
    cdkTextareaAutosize
    cdkAutosizeMinRows=""
    cdkAutosizeMaxRows="6"
    (keydown.enter)="onEnterKey($any($event))"
    (input)="onInput($any($event.target).value)"
    [disabled]="disabled()"
    [value]="messageInput()"
  >
  </textarea>
  <button
    type="button"
    matSuffix
    mat-icon-button
    (click)="sendMessage()"
    [disabled]="!input.value.trim() || disabled()"
  >
    <mat-icon>send</mat-icon>
  </button>
</mat-form-field>
