@if (isLoading()) {
  <app-spinner />
} @else {
  <div class="summary-container">
    <app-event-bills-summary
      [summary]="event().eventSummary!"
      [eventCurrency]="event().currency"
      [userCurrency]="userCurrency()"
    />
  </div>
  <div class="list-container">
    <p>Lista rachunków</p>
    <hr />
    <app-custom-list
      [items]="event().eventBills ?? []"
      [itemTemplate]="billsItemTemplate"
      [isSelectable]="false"
    />
  </div>
}

<ng-template #billsItemTemplate let-item>
  <app-event-bill-item [bill]="item" [userCurrency]="userCurrency()" [billCurrency]="event().currency" />
</ng-template>
