@use '../../../../styles/variables' as *;

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  hr {
    border: 1px solid $light-gray-1;
    opacity: 0.3;
    margin: 0.5rem 0 2rem;
  }

  .summary-container {
    width: 100%;
  }

  .list-container {
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 100%;
  }
}
