:host {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  flex: 1;
  padding: 4em 0.5em 1em;
}

.layout-container {
  display: flex;
  flex-direction: column;
  gap: 1em;

  section {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}

@media (width > 526px) {
  .layout-container {
    flex-direction: row;
  }

  form button {
    align-self: flex-end;
  }
}
