<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
  <div class="message-container">
    @if (this.errorCode() !== null) {
      <app-alert-panel severity="error">{{ authService.getErrorMessage(this.errorCode()!) }}</app-alert-panel>
    }
  </div>

  <p>Podaj adres email, na który chcesz otrzymać link do resetowania hasła.</p>

  <mat-form-field appearance="outline">
    <mat-label for="email">Email</mat-label>
    <input
      matInput
      formControlName="email"
      name="email"
      type="email"
      required
      placeholder="Wprowadź Email"
      title="Email"
    />
    @if (resetPasswordForm.get('email')?.hasError('required')) {
      <mat-error> Email jest wymagany </mat-error>
    }
    @if (resetPasswordForm.get('email')?.hasError('email')) {
      <mat-error> Proszę podać poprawny adres email </mat-error>
    }
  </mat-form-field>

  <button mat-flat-button color="primary" type="submit" [disabled]="submitting()">Wyślij link</button>
</form>
