<div class="left_container">
  <div class="logo"><mat-icon>receipt</mat-icon></div>
  <div class="info">
    <div class="info_top">
      <p class="bold">{{ bill().name }}</p>
    </div>
    <div class="info_bottom">
      <p class="date">{{ bill().date }}</p>
      <!-- @if (showCategory()) { -->
        <!-- <div class="color_label" [style.backgroundColor]="transaction().category.color"></div>
        <p>{{ transaction().category.name }}</p> -->
      <!-- } -->
    </div>
  </div>
</div>
<div class="middle_container">
  <p>Do zapłaty: </p>
  <div class="to_paid_container">
    @if (billCurrency().id) {
      <p class="main_amount bold">{{ bill().userCurrency.costPerUser }} {{ userCurrency().code }}</p>
    } @else {
      <p class="main_amount bold">~ {{ bill().userCurrency.costPerUser }} {{ userCurrency().code }}</p>
      <p class="payment_amount">{{ bill().eventCurrency.costPerUser }} {{ billCurrency().code }}</p>
    }
  </div>
</div>
<div class="right_container">
  @if (billCurrency().id) {
    <p class="main_amount bold">{{ bill().userCurrency.amount }} {{ userCurrency().code }}</p>
  } @else {
    <p class="main_amount bold">~ {{ bill().userCurrency.amount }} {{ userCurrency().code }}</p>
    <p class="payment_amount">{{ bill().eventCurrency.amount }} {{ billCurrency().code }}</p>
  }
</div>
