@let userCurrency = userCurrency$ | async;

<mat-tab-group>
  <mat-tab label="Wiadomości">
    <ng-template matTabContent>
      <p>Wiadomości</p>
    </ng-template>
  </mat-tab>
  <mat-tab label="Rachunki">
    <ng-template matTabContent>
      <app-event-details-bills [event]="event()" [userCurrency]="userCurrency!" />
    </ng-template>
  </mat-tab>
  <mat-tab label="Użytkownicy">
    <ng-template matTabContent>
      <app-event-details-users />
    </ng-template>
  </mat-tab>
  <mat-tab label="Podsumowanie wydatków">
    <ng-template matTabContent>
      <app-event-details-settlements />
    </ng-template>
  </mat-tab>
  <mat-tab label="Ustawienia">
    <ng-template matTabContent>
      <app-event-details-settings />
    </ng-template>
  </mat-tab>
</mat-tab-group>
