:host {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  gap: 1em;
  margin-left: auto;
  max-width: 100%;

  app-avatar {
    display: none;
    align-self: flex-end;
  }

  .author-label {
    display: none;
    color: #777;
    font-size: 0.8em;
    padding-left: 0.9em;
    margin-bottom: 0.25em;
  }

  .message-list {
    display: flex;
    flex-direction: column;
    gap: 1px;

    ::ng-deep app-chat-message:has(.read-indicators-spacer.active) + app-chat-message .message {
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
  }
}

.wrapper.their {
  flex-direction: row;
  align-self: flex-end;
  margin-left: unset;

  app-avatar {
    display: flex;
  }

  .author-label {
    display: block;
  }
}

.read-indicators-spacer {
  height: 0px;

  &.active {
    height: 24px;
  }
}

:host:not(:last-of-type) .sent-at-message {
  display: none;
}

.sent-at-message {
  font-size: 0.65em;
  text-align: right;
}

@media (width > 480px) {
  .wrapper {
    max-width: 60%;
  }
}
