<h2 mat-dialog-title>Zarządzaj znajomymi</h2>
<app-form-progress-bar [active]="processing() || loading()" />

<mat-dialog-content>
  <p>Przeglądaj swoją listę znajomych i usuń tych, których już nie chcesz mieć na liście.</p>

  <app-search-input placeholder="Wyszukaj" (emitSearch)="onSearch($event)" [(ngModel)]="searchValue" />

  @if (!loading()) {
    <app-custom-list
      [items]="friends()"
      [itemTemplate]="requestItemTemplate"
      [isSelectable]="true"
      (selectEmit)="onUserSelected($event)"
    />
  } @else {
    <div class="loading-indicator">Jeszcze chwila...</div>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button type="button" mat-dialog-close>Zamknij</button>
</mat-dialog-actions>

<ng-template #requestItemTemplate let-item>
  <app-user-item [item]="item" [showEmail]="true">
    <button class="delete-button" mat-icon-button type="button" (click)="onRemoveFriendAttempt(item)">
      <mat-icon>delete</mat-icon>
    </button>
  </app-user-item>
</ng-template>
