@use '../../../styles/variables' as *;

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  color: $light-gray-3;

  p {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
  }
}
