@use '../../../../styles/variables' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: 2em;
  flex: 1;
  overflow: hidden;
  margin: 0 -20px;
}

.colored-icon-button {
  color: $light-blue-1;
}

.header {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

app-chat-container {
  flex: 1;
  height: 100%;
}

@media (width > 600px) {
  :host {
    margin: unset;
  }
}

@media (width > 768px) {
  .content {
    gap: 4em;
  }
}
