@use '../../../../styles/variables' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: 2em;
  flex: 1;
  overflow: hidden;
  margin: 0 -20px;
}

.colored-icon-button {
  color: $light-blue-1;
}

.header {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.content {
  display: flex;
  flex: 1;
  overflow: hidden;

  .chats-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;

    .chats-list-header {
      display: flex;
      gap: 0.5em;
    }

    .chats-list {
      position: relative;
      .loading-more-spinner {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
      }
    }
  }

  app-search-input {
    width: 100%;
  }

  app-chat-container {
    flex: 1;
    height: 100%;
  }
}

@media (width > 600px) {
  :host {
    margin: unset;
  }
  .chats-list-header {
    max-width: 60vw;
  }
}

@media (width > 768px) {
  .chats-list-container {
    max-width: 30vw;
  }

  .chats-list {
    overflow: hidden;
  }

  .content {
    gap: 4em;
  }
}
