:host {
  display: flex;
  width: 100%;

  .chart-container {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    height: calc(100% - 32px);

    .container-body {
      height: 100%;
    }
  }
}
