<app-form-progress-bar [active]="submitting()"></app-form-progress-bar>
<mat-card-header>
  <mat-card-title>Zresetuj hasło</mat-card-title>
</mat-card-header>
<mat-card-content>
  @if (token() !== null) {
    <app-reset-password-form [submitting]="submitting" [token]="token()!"></app-reset-password-form>
  } @else {
    <app-send-reset-password-form [submitting]="submitting"></app-send-reset-password-form>
  }
  <p class="bottom-nav">Wszystko gra? <a routerLink="/login">Wróć do logowania</a></p>
</mat-card-content>
