<mat-card-header>
  <mat-card-title>Zaloguj się</mat-card-title>
</mat-card-header>
<mat-card-content>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <app-error-holder [visible]="loginError()">{{ authService.getErrorMessage(this.errorCode()) }}</app-error-holder>
    <mat-form-field appearance="outline">
      <mat-label for="email">Email</mat-label>
      <input
        matInput
        formControlName="email"
        name="email"
        type="email"
        required
        placeholder="Wprowadź Email"
        title="Email"
      />
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')"> Email jest wymagany </mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')"> Proszę podać poprawny adres email </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="password">Hasło</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        name="password"
        placeholder="Wprowadź hasło"
        required
      />
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')"> Hasło jest wymagane </mat-error>
    </mat-form-field>
    <p>Problemy z logowaniem? <a routerLink="/remind-password">Odzyskaj hasło</a></p>

    <button mat-flat-button color="primary" type="submit">Zaloguj się</button>
  </form>
  <p class="bottom-nav">Nie masz konta? <a routerLink="/register">Zarejestruj się</a></p>
</mat-card-content>
