$dark-blue-1: #0b2447;
$dark-blue-2: #19376d;

$light-blue-1: #576cbc;
$light-blue-2: #a5d7e8;

$gray-blue: #27374d;
$gray: #526d82;
$light-gray-1: #9db2bf;
$light-gray-2: #dde6ed;

$green: #008000;
$red: #ff2c2c;
$yellow: #f9c74f;
