<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-form-progress-bar [active]="submitting()" />

  @if (errorCode() !== null) {
    <app-alert-panel severity="error">{{ settingsService.getErrorMessage(errorCode()!) }}</app-alert-panel>
  }

  <mat-form-field appearance="outline">
    <mat-label>Aktualne hasło</mat-label>
    <input matInput type="password" formControlName="oldPassword" title="Aktualne hasło" />

    @if (form.get('oldPassword')?.hasError('required')) {
      <mat-error>Aktualne hasło jest wymagane.</mat-error>
    }
  </mat-form-field>

  <app-password-input [parentForm]="form" />

  <button type="submit" mat-flat-button color="primary">Zmień hasło</button>
</form>
