// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use './app/styles/typography' as typog;
@use './app/styles/variables' as vars;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
} /* You can add global styles to this file, and also import other style files */

:root {
  --mdc-list-list-item-hover-label-text-color: white;
  --mdc-list-list-item-focus-label-text-color: white;
  --mdc-list-list-item-label-text-font: 'Inter', sans-serif;
  --mdc-list-list-item-leading-icon-color: white;
  --mdc-list-list-item-hover-leading-icon-color: white;
  --mdc-list-list-item-focus-icon-color: white;
  --mat-list-active-indicator-color: #19376d;
  --mat-list-active-indicator-shape: 0;
}

mat-sidenav,
mat-toolbar {
  --mdc-list-list-item-label-text-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-mdc-form-field-subscript-dynamic-size {
  min-height: 22px;
}

ng-scrollbar {
  --scrollbar-thickness: 9;
  --scrollbar-border-radius: 12px;
  --scrollbar-button-color: transparent;
  --scrollbar-button-fill: #{vars.$light-blue-1};
  --scrollbar-thumb-color: #{rgba(vars.$light-blue-1, 0.3)};
  --scrollbar-thumb-hover-color: #{rgba(vars.$light-blue-1, 0.6)};
  --scrollbar-offset: 4;
  flex: 1;
}
